#panels-dnd-main .region {margin-bottom: 5px}
#panels-dnd-main .region-three-brick-left-above,
#panels-dnd-main .region-three-brick-center-above,
#panels-dnd-main .region-three-brick-right-above  {float: left; width: 33%}
#panels-dnd-main .region-three-brick-left-below {float: left; width: 66.5%}
#panels-dnd-main .region-three-brick-right-below {float: right; width: 33%}
