// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 */

/* ==================
 * Semantic classes
 * ================== */
.inline {
  display: inline;
}

.right {
  float: right;
  padding-left: .5em;
}

.left {
  float: left;
  padding-right: .5em;
}

.half {
  width: 49%;
}

.green {
  color: $green;
}

.grey {
  color: $grey;
}

.small {
  size: .9em;
}

.uppercase {
  text-transform: uppercase;
}

.clear {
  clear: right;
}

/* =============================================================================
 *   Base
 * ========================================================================== */
html {
  background: $page;
}

body {
  font-family: $event-font; // Set from _custom.scss font variables
  font-size: 87.5%;
  color: $dark-grey;
}

body.group-inactive {
  background-color: $light-grey;
}

/* =============================================================================
 *   HTML Elements
 * ========================================================================== */
h1 {}
/* This is the same as was used in h2 below for groups.
 * Not sure if below comes into play elsewhere.
 * Plus the selection here is a bit rushed, but it works. */
.node-type-group,
.node-type-touring-group {
  .region-two-66-33-first {
    .pane-node-content {
      h1.pane-title {
        font-family: $group-font;
        padding: 0 .6em 0.1em 1em;
        -moz-border-radius: 15px;
        border-radius: 15px;
        border: $green 2px solid;
        color: $green;
        margin-bottom: 1em;
      }
    }
  }
}

h2 {
  &.group,
  &.touring-group{
    font-family: $group-font;
    padding: 0 .6em 0.1em 1em;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: $green 2px solid;
    color: $green;
    margin-top: 0;
  }
  &.event {
    margin: .83em 0 .3em;
  }  
}

h3 {
  &.group {
    font-family: $group-font;
    border: $green 2px solid;
    padding: 0 .3em .1em 1em;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: $green;
    font-weight: normal;
  }
  &.map {
    font-family: $group-font;
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: bold;
    a {
      color: white;
    } 
  }
  .date {
    font-family: $group-font;
    border: $light-grey 2px solid;
    padding: 0 .6em;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: $grey;
    font-weight: normal;
  }
}

h4 {}
h5 {}
h6 {}
p {}
b,
strong {}
i,
em {}
dfn {}
sup {}
sub {}
del {}
ins {}
blockquote {}
cite {}
q {}
address {}
ul {}
ol {}
li {}
dl {}
dd {}
dt {}
abbr {}
acronym {}
pre,
code,
tt,
samp,
kbd,
var {
  font-family: $mono;
}

/* =============================================================================
 *   Wrappers
 * ========================================================================== */
/*
 * Outer wrappers:
 * - #page-wrapper: body > #page-wrapper
 * - #page: body > #page-wrapper > #page
 * - .container: body > #page-wrapper > #page.container
 *
 * The .container class holds the page width value from theme settings. You can
 * style the .container class but do not add width such as border, padding,
 * margins etc.
 */
#page-wrapper {}
#page  {
  &.container {}
}

// Wraps all header elements - branding and .region-header
#header {}

.group-inactive #header {
  background-color: white;
}

// Wraps the messages
#messages {
  position: relative;
  top: -30px;
}
// Wraps the sidebars the content column
#columns {
  position: relative;
  top: -30px;
}
// Main content column wrapper
#content-column {}
// Wraps the main-content-header, the content region and feed-icons.
#main-content {}
/* Wraps the content region, avoid applying styles to this wrapper, its used
 * mainly for position and invisible gutters and can be problematic to style */
#content {}

// Footer wrapper
#footer {
  background-color: $light-grey;
  color: white;
  padding-top: .5em;
  font-family: $typewriter;
  font-size: 1.2em;
  a {
    &:link,
    &:visited {
      color: $dark-grey;
    }
    &:hover,
    &:focus {
      color: white;
    }
  }  
  #block-system-powered-by {
    text-align: right;
  }
}

.group-inactive #footer {
  background-color: white;
}

// Panels may need additional margin wrangling when in the $content region
#content .panel-display {}

/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width - you can style this but never
 * add any width/margin/padding/borders etc to .container
 */

// Wraps the leaderboard
#leaderboard-wrapper {
  .container {}
}

// Wraps the header
#header-wrapper {
  // Debug styles, is this working
  background: $debug;
  .container {}
}

// Wraps the nav elements
#nav-wrapper {
  .container {}
}
// Wraps messages and help
#messages-help-wrapper {
  .container {}
}
// Wraps the secondary content/preface region
#secondary-content-wrapper {
  .container {}
}
// Wraps the main content column
#content-wrapper {
  .container {}
}
//Wraps the tertiary content/postfix region
#tertiary-content-wrapper {
  .container {}
}
// Footer wrapper
#footer-wrapper {
  // Debug styles, is this working?
  background: $debug;
  .container {}
}

/* =============================================================================
 *   Branding
 * ========================================================================== */
#branding {}

#logo {
  display: inline-block;
  float: left;
  font-family: $typewriter;
  font-size: 2em;
  padding: 0 0.8em 0 0.1em;
}

#name-and-slogan {}

#site-name {
  font-size: 2em;
  margin: 0;
  font-family: $typewriter;
  font-weight: bold;
  letter-spacing: 0.45em;
}

#site-name,
#logo {
  a {
    &:link,
    &:visited {
      text-decoration: none;
      color: $grey;
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

#site-slogan {
  margin: 0;
}

/* =============================================================================
 *   Page content header
 * ========================================================================== */
#main-content-header {}

#page-title {
  font-family: $typewriter;
  margin: 0 0 10px 0;
  color: $grey;
  font-weight: normal;
  font-size: 2em;
}

#secondary-menu-bar {
  padding: 0;
  position: relative;
  top: -30px;
  font-family: $typewriter;
  font-size: 1.6em;
  ul li {
    float: right;
  }
}

ul.tabs.secondary li a {
  border: 1px solid $lightest-grey;
  border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: $lightest-grey;
  padding: .3em 1em;
  &.active,
  &:active,
  &:hover,
  &:focus {
    border: 1px solid $grey;
    background-color: $grey;
    color: white;
    text-decoration: none;
  }
}

/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */
.feed-icon {}

#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

// Generic styles for the more link
.more-link {}

// Generic styles for links
ul.links {
  margin: 0;
  padding: 0;
  &.inline {
    display: block;
  }
  li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}

// Search results are an ordered list so reset the margin
.search-results {
  margin: 0;
  padding: 0;
}

//Attribution message and link
.attribution {
  display: block;
  opacity: 0.65;
  padding: 1em 0;
  text-align: center;
  a {
    text-decoration: none;
    color: inherit;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

/* =============================================================================
 *   Regions
 * ========================================================================== */
/* Standard region wrapper, don't add width to any regions, you will bork the layout
 * - no margin, padding or borders etc */
.region {}
// Regions have an inner div - perfect for adding margin, padding or borders
.region-inner {}
// Regions can be nested, such as when using Panels
.region-inner .region-inner {}
//Header region, embedded in the #header
.region-header {}
// Generally used to output Drupals help block, if the help module is enabled
.region-help {}
// Secondary content
.region-secondary-content {}
// Sits above the main content header, like a content-top region
.region-highlighted {}
// Sits below the main content, like a content-bottom region
.region-content-aside {}
// Sidebars - targets both
.sidebar {}
// First sidebar
.region-sidebar-first {}

.region-two-50-first {
  margin-top: 2em;

  h3 {
    margin-top: 0;
  }
  .results {
    margin-bottom: 2em;
  }
}
// Second sidebar
.region-sidebar-second {}

.region-two-66-33-second {
  margin-top: 2em;
}

// Tertiary content
.region-tertiary-content {}
// Footer region
.region-footer {}

/* *** Links *** */
a {
  text-decoration: none;
  color: black;
  &:link,
  &:visited {}
  &:active,
  &.active {}
  &:hover,
  &:focus {
    text-decoration: underline;
    color: $blue;
  }
}
/* Links in text or list of meta-information */
p,
.field-name-field-link {
  a {
    color: $blue;
  }
}

// Links as buttons
.button {
  a {
    border: 1px solid $lightest-grey;
    border-radius: 15px;
    -moz-border-radius: 15px;
    background-color: $lightest-grey;
    padding: .3em 1em;
    &:active,
    &:hover,
    &:focus {
      border: 1px solid $grey;
      background-color: $grey;
      color: white;
      text-decoration: none;
    }
  }
}


/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */
.nav {
  clear: both;
  margin: 10px 0;
  ul,
  ul.menu {
    margin: 0;
    padding: 0;
  }
  li,
  ul.menu li {
    display: inline;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li a,
  ul.menu li a {
    display: block;
    white-space: nowrap;
    padding: 0 20px;
    &:visited {}
    &:hover,
    &:focus {}
  }
  .block {
    margin-bottom: 0;
  }
}

/* =============================================================================
 *   Menu Toggles
 * ========================================================================== */
// .at-mt is a page class
.at-mt {
  .at-menu-toggle,
  .at-menu-toggle ul,
  .at-menu-toggle ul.menu {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .at-menu-toggle-button {
    margin: 0;
  }
  .at-menu-toggle ul a {
    padding: 0 10px;
    white-space: nowrap;
  }
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */
ul.menu {
  padding-left: 15px;
  ul {
    padding-left: 15px;
    ul {
      ul {}
    }
  }
  li {
    margin: 0;
    &.collapsed,
    &.expanded,
    &.leaf {}
    a {
      &:link,
      &:visited {}
      &:active,
      &.active {}
      &:hover,
      &:focus {}
    }
    &.active a,
    &.active-trail a {}
    &.first,
    &.last {}
  }
}

/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;
}

/* =============================================================================
 *   Pagers
 * ========================================================================== */
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

.item-list ul.pager li {
  margin: 0;
}

ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
  &.pager-current {
    font-weight: 700;
  }
}

.block ul.pager li {
  margin: 0;
}

// Theme the various states of pager links
ul.pager li {
  a {
    &:link,
    &:visited {}
    &:active,
    &.active {}
    &:hover,
    &:focus {}
  }
  &.pager-item {}
  &.first {}
  &.last {}
  &.pager-current {}
  &.pager-first {}
  &.pager-previous {}
  &.pager-next {}
  &.pager-last {}
}

/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
  a {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: $page;
    display: block;
    line-height: 2;
    padding: 0;
    text-align: center;
    text-decoration: none;
    &:link,
    &:visited {
      background: #444;
      background: rgba(0, 0, 0, 0.6);
      color: $page;
      display: block;
      line-height: 2;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}

/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */
#tasks {
  margin-bottom: 5px;
}

ul.primary {
  border-bottom-color: $border;
  margin: 20px 0 0;
  padding: 0 0 0 5px;
  li {
    display: block;
    float: left;
    margin: 0 1px -1px;
    a {
      background-color: $ultralight;
      border-color: $border;
      margin-right: 1px;
      padding: 0 10px;
      display: block;
      float: left;
      height: 1.5em;
      line-height: 1.5em;
      &:hover,
      &:focus {
        background-color: $grey;
        border-color: $border;
        color: white;
      }
    }
  }
  li.active {
    a,
    a:hover,
    a:focus {
      background-color: $page;
      border-bottom-color: $page;
    }
  }
}

ul.secondary {
  border-bottom: 1px solid $border;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
  li {
    border-right: 0;
    list-style: none;
    padding: 0 10px 0 0;
    a {
      &:hover,
      &.active {
        border-bottom: none;
        text-decoration: underline;
      }
    }
  }
}

/* =============================================================================
 *   Action links
 * ========================================================================== */
ul.action-links {
  list-style: none;
  margin: 15px 0 0 66%;
  padding: 0 0 0 20px;
  li {
    a {
      border: 1px solid $lightest-grey;
      border-radius: 15px;
      -moz-border-radius: 15px;
      background-color: $lightest-grey;
      padding: .3em 1em;
      &:active,
      &:hover,
      &:focus {
        border: 1px solid $grey;
        background-color: $grey;
        color: white;
        text-decoration: none;
      }
    }
  }
}

/* =============================================================================
 *  Field Styling
 * ========================================================================== */
.field {}
.field-label-above {}

.field-label-inline {
  // Remove the margin on inline field lables to preserve vertical formatting
  .field-label {
    margin: 0;
  }
}

// Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted inheritance issues
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

// Image fields use the <figure> and <figcaption> elements from HTML5
.field-type-image {
  clear: both;
  .caption {}
  .full-caption {}
  .teaser-caption {}
}

// Taxonomy
.field-type-taxonomy-term-reference {
  // The same bottom margin as p, blockquote, ul, ol and dl
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  &.field-label-inline .field-items {
    margin: 0;
    padding: 0;
  }
  &.field-label-inline .field-item {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}

// Text
.field-type-text {}
// Long text
.field-type-text-long {}
// Text with summary
.field-type-text-with-summary {}
// File
.field-type-file {}
//Number/Integer
.field-type-number-integer {}
// Decimal
.field-type-number-decimal {}
// Number float
.field-type-number-float {}
// List
.field-type-list-text {}
// List boolean
.field-type-list-boolean {}
// List integer
.field-type-list-integer {}
// List float
.field-type-list-float {}
// Field types (Contrib)
.field-type-datetime {}
.field-type-node-reference {}
.field-type-user-reference {}
// Named fields
.field-name-body {}
.field-name-field-image {}
.field-name-field-tags {}

.field-name-field-group-logo {
  &.view-mode-full {
    float: left;
    padding-right: 1em;
    padding-bottom: .5em;
  }
  &.view-mode-teaser {
    float: right;
    padding-left: .5em;
    padding-bottom: .2em;
  }
}

.panel-pane .node-content {
  .field-name-field-short-url {
    h2 {
      font-style: normal;
    }
  }
}

// Underscores in field name are replaced with dashes
.field-name-field-FIELDNAME {}

// Image Alignment Theme Settings - included here so you can easily override
// Float none setting
.ia-n .field-type-image,
.iat-n .field-type-image {}
// Float left setting
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}
// Centered setting
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}
// Float right setting
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}

/* =============================================================================
 *   Clip / Polr styling
 * ========================================================================== */
.panel-pane .node-content section.field-type-polr-text.field,
.panel-pane .node-content div.field-type-polr-text.field-label-hidden,
.view-radar-listings-group .field-type-polr-text {
  text-align: right;
  margin: -1em 0 1em 0;
  padding-right: 0.8em;
  font-size: 0.8em;
  color: $grey; 
}

.node-type-event .panel-pane .node-content div.field-type-polr-text.field-label-hidden {
  margin-top: -0.5em;
}

section.field-type-polr-text.field-label-inline .field-label,
section.field-type-polr-text.field-label-inline .field-items,
div.field-type-polr-text.field-label-hidden .field-items,
.view-radar-listings-group .field-type-polr-text .field-items {
  float: none;
}

section.field-type-polr-text h2,
.view-radar-listings-group .field-type-polr-text .field-label {
  display: inline;
  font-style: normal;
  font-weight: normal;
}

div.field-type-polr-text.field-label-hidden div,
section.field-type-polr-text div,
.view-radar-listings-group .field-type-polr-text div {
  display: inline;
}

div.field-type-polr-text.field-label-hidden input,
section.field-type-polr-text input,
.view-radar-listings-group .field-type-polr-text input {
  height: 1.2em;
  padding-left: 0.5em;
  vertical-align: text-top;
}

/* =============================================================================
 *   Block Styling
 * ========================================================================== */
.block {
  margin-bottom: 20px;
}
.block-inner {}
// The first block in the region
.block.first {}
// The last block in the region
.block.last {}
// Zebra striping for each block in the region
.block.odd {}
// Zebra striping for each block in the region
.block.even {}

// Block title
.block-title {
  margin: 0;
}

// Block content wrapper
// Match item list and block menu margin and padding
.block-content {
  ul,
  ol {
    padding: 0 0 0 15px;
  }
  li {
    margin: 0;
    padding: 0;
  }
}

// Block for the latest news items in the first category
#block-aggregator-category-1 {}
// Block for the latest news items in the first feed
#block-aggregator-feed-1 {}
// First block created with "Add block" link
#block-block-1 {}
// "Recent blog posts" block
#block-blog-recent {}
// "Book navigation" block for the current book's table of contents
#block-book-navigation {}
// "Recent comments" block
#block-comment-recent {}
// "Active forum topics" block
#block-forum-active {}
// "New forum topics" block
#block-forum-new {}
// Language switcher block
#block-locale-language {}

// Language switcher drop-down
#block-lang-dropdown-language {
  float: right;
  position: relative;
  top: -30px;
}

// Custom menu block
#block-menu-menu-NAME {}

// Help menu block
#block-menu-menu-help-menu h2 {
  font-family: $typewriter;
  color: #777777;
  font-size: 1.7em;
  font-weight: 400;
  padding-top: .5em;
}

// "Recent content" block
#block-node-recent {}
// "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
#block-node-syndicate {}
// "Most recent poll" block
#block-poll-recent {}
// "Author information" block for the profile of the page's author
#block-profile-author-information {}
// "Search form" block
#block-search-form {}
// "Shortcuts" block
#block-shortcut-shortcuts {}
// "Popular content" block
#block-statistics-popular {}
// "Main menu" block
#block-system-main-menu {}
// "Management" block for Drupal management menu
#block-system-management {}
// "Navigation" block for Drupal navigation menu
#block-system-navigation {}
// "User menu" block for Drupal user menu
#block-system-user-menu {}
// "System help" block
#block-system-help {}
// "Main page content" block
#block-system-main {}
// "Powered by Drupal" block
#block-system-powered-by {}
// "User login form" block
#block-user-login {}
// "Who's new" block for a list of the newest users
#block-user-new {}
// "Who's online" block for a list of the online users
#block-user-online {}

/* =============================================================================
 *   Node Styling
 * ========================================================================== */
.node {
  margin-bottom: 20px;
  &.node-promoted {}
  &.node-sticky {}
  &.node-by-viewer {}
  &.node-teaser {}
  &.node-full {}
  &.odd {}
  &.even {}
  .node-title {
    margin: 0;
  }
  .user-picture {}
  .submitted {
    .username {}
    time {}
  }
  .node-content {}
  ul.links {
    li {}
    li a {}
    li.node-read-more a {}
    li.comment-add a {}
    li.comment-comments a {}
    li.comment-new-comments a {}
    li.blog-sernames-blog a {}
    li.print-html a {}
    li.print-email a {}
    li.print-pdf a {}
  }
}

.preview .node {}

.node-page {}
.node-article {}

  /* =============================================================================
 *   Forms
 * ========================================================================== */
.form-item {
  input.error,
  textarea.error,
  select.error {
    border: 1px solid $highlight;
  }
  label {
    font-weight: 700;
  }
  label.option {
  }
  .description {
    font-size: 0.85em;
  }
  &.form-checkboxes ,
  &.form-radios {
  }
}

// Highlight marks and form required mark
.marker,
.form-required {
  color: $highlight;
}

// The submit button
.form-submit {
}
.container-inline {
  div,
  label {
    display: inline;
  }
}

// Define consistent borders
fieldset {
  border: 1px solid $border;
}

// Tips for Drupal's input formats
.tips {
}

// Buttons used by contrib modules like Media
a.button {
  @include appearance(button);
}

// Password confirmation
.password-parent,
.confirm-parent {
  margin: 0;
}

/* =============================================================================
 *   Tables
 * ========================================================================== */
table {
  margin: 10px 0;
  padding: 0;
  width: 100%;
  &.sticky-header {
    z-index: 10;
  }
}

table,
thead,
tbody,
tr,
th,
td {
  border-color: $border;
}

table,
td,
th {
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
}

thead tr {
  font-weight: 700;
  background-color: $medium_dark;
}

td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

tbody {}

tbody tr {
  border-top: 1px solid $border;
}

tr {
  &.odd {
    background: $page;
  }
  // Table row striping
  &.info,
  &.even,
  &:nth-child(2n+2)  {
    border-bottom: 0;
    background-color: $ultralight;
  }
  &.drag {}
  &.drag-previous {}
  &.odd td.active {
    background-color: $light;
  }
  &.even td.active {
    background-color: $medium_light;
  }
}

.lt-ie8 tr {
  &.even,
  &.odd {
    th,
    td {
    }
  }
}

/* =============================================================================
 *   Messages
 * ========================================================================== */
div {
  &.messages {
  // Left and right margin are set by the global gutter width
  margin-bottom: 10px;
  margin-top: 10px;
    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &.status {
  }
  &.warning {
  }
}

tr.warning {}
div.error,
tr.error {}
.error {}
.warning {}

// Unpublished nodes
.node-unpublished,
.comment-unpublished {
  p.unpublished {
    @include unpublished;
  }
}

/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */
.maintenance-page {
  .container {
    padding: 40px 0;
  }
  #site-name,
  #page-title {
    margin: 0;
    color: grey;
    font-family: serif;
  }
}

.db-offline {
  .container {
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 960px;
  }
  div.messages {
    margin: 20px 0 0;
  }
  #content {
    padding: 20px 0;
  }
}

/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */
// Admin menu overrides
#admin-menu {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

// Devel Module
.dev-query {
  background: $light;
  padding: 30px;
}

// Styleguide module tweaks
#styleguide-header {
  padding: 0 10px;
  .item-list {
    font-family: inherit;
    margin: 0 20px 20px 0;
    min-height: 260px;
    width: auto;
  }
}

// Views
.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0;
}

.view-requests .views-exposed-widgets .views-submit-button {
  margin-top: 1.7em;
}

/* *** Custom plugins *** */
/* Links on group page */
.create-event {
  .item-list {
    margin-bottom: 1em;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        margin: 0;
        padding: .3em 0;
        a {
          color: dark-grey;
          .placeholder {
            font-style: normal;
            font-weight: 600;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

/* Entity Reference */
.group-reference {
  .field-type-taxonomy-term-reference,
  .field-name-field-opening-times {
    .field-label {
      font-size: 1em;
      font-weight: normal;
      font-style: italic;
    }
  }
}

/* ==============================
 *  Views & Panels
 * ============================== */
.tight {
  margin-bottom: .3em;
}

.results {
  margin-bottom: .8em;
}

/* Label and info were used on node panels views panes.
 * Once replaced by rendered entities may become obsolete. */
.label {
  font-style: italic;
}

.info {
  margin: .3em 0 .3em 1em;
}

.address-map {
  margin: .83em 1em;
}

// Rendered entity on own panel page
.panel-pane .node-content {
  h2 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
  }
  section.field {
    margin: .3em 0 .3em 1em;
  }
  .field-name-field-price-category {
    display: inline-block;
    float: left;
  }
  div.field-name-field-price {
    padding-top: .3em;
    margin-left: -1em;
    font-style: italic;
  }
  .field-name-field-offline {
    clear: left;
    margin: 1em 0 .3em 1em;
  }
}

.list {
  border: 2px solid #bbbbbb;
  border-radius: 15px;
  color: #777777;
  padding: 0 0.6em 1em 0.6em;
  margin: 0 10px;

  h2 {
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: normal;
  }
}

.building {
  font-style: italic;
}

.event-list-event-title {
  display: inline;
  font-size: 1.1em;
}

.date-display-range {
  display: inline;
}

.cancelled {
  // front page list
  .event-list-event-title {
    text-decoration: line-through;
    font-weight: lighter;
  }

  // event page
  h1.pane-title,
  .field-name-body,
  .field-name-field-date-time .field-item {
    text-decoration: line-through;
  }
}

/* group event tab table */
tr.cancelled td {
  text-decoration: line-through;
  &.views-field-edit-node {
    text-decoration: none;
  }
}
.tentative {
  .event-list-event-title {
    font-weight: lighter;
  }
}

/* Listings group */
.view-radar-event-search,
.view-radar-group-search {
  &.listings-group {
    .views-row {
      border: 2px solid $green;
      border-radius: 15px;
      padding: 0 0.6em .6em 1em;
      background-color: #eee;

      h3 {
        font-weight: normal;
        margin: .6em 0 .4em;
        .item {
          color: black;
        }
      }
      .indented {
        margin: unset;
        padding-left: .6em;
      }
    }
  }
}

.events-period {
  h2.block-title {
    color: $grey;
    font-weight: normal;
  }
  ul li {
    display: inline;
    list-style: none;
  }
}

// Events, Groups and front page
//.front,
//.page-home,
.page-groups,
.page-events {
  .region-two-66-33-first {
    // Exposed full-text search
    .views-exposed-form {
      border: 1px solid $lightest-grey;
      padding: .5em 1em;
      -moz-border-radius: 15px;
      border-radius: 15px;
      .views-widget-filter-search_api_views_fulltext {
        width: 60%;
        input {
          width: 100%;
        }
      }
      .views-submit-button,
      .views-reset-button {
        padding: 2em .5em 0;
      }
    }

    // Event search results
    .pane-radar-event-search-panel-pane-1 {
      padding:  0 1em 0 0;
      article {
        padding: 0 0.7em;
      }
    }
    // Group search results
    .pane-radar-group-search-panel-pane-1 {
      padding: 0 1em;
      .half {
        padding-left: 1em;
      }
    }
  }

  .region-two-66-33-second,
  .region-three-brick-left-above,
  .region-three-brick-center-above,
  .region-three-brick-right-above {
    .region-inner {
      border: 1px solid $lightest-grey;
      padding: .5em 1em;
      -moz-border-radius: 15px;
      border-radius: 15px;
      margin-right: 1em;

      // Facet introduction block
      .facet-introduction {
        font-weight: 700;
        padding-top: 1em;
      }

      // Facets
      .facet  {
        &.block {
          margin-bottom: 1em;
        }
        h2.block-title {
          padding: 0 .6em 0.1em 1em;
          -moz-border-radius: 15px;
          border-radius: 15px;
          color: white;
          background-color: $light-grey;
          font-size: 1.1em;
          font-weight: normal;
          min-width: 8em;
          //    width: 20%;
          margin-bottom: .3em;
        }
        ul li {
          list-style: none;
          margin: 0 0 .2em 0;
        }
      }
    }
  }

  .three-brick {
    .region-three-brick-top {
      .region-inner {
        margin: 0 1em;
        .contextual-links-region {
          margin-bottom: 0;
        }
      }
    }
    .region-three-brick-left-above {
      .region-inner {
        margin-left: 1em;
      }
    }
    .row-2 {
      margin-top: 3em;
      h2.pane-title {
        padding: 0 .6em 0.1em 1em;
        -moz-border-radius: 15px;
        border-radius: 15px;
        color: white;
        background-color: $grey;
        font-size: 1.3em;
        font-weight: normal;
        min-width: 8em;
        margin-bottom: .3em;
      }
      .date {
        display: inline;
      }
      .region-three-brick-left-below {
        .block-inner {
//          margin-right: 20px;
        }
      }
      .region-three-brick-left-below {
        .block-inner {
//          margin-left: 0;
          .view-grouping {
            .view-grouping-header h2 {
              background-color: $lightest-grey;
              font-family: $serif-small;
              padding: 0 .6em 0.1em .6em;
              -moz-border-radius: 15px;
              border-radius: 15px;
            }
            .view-grouping-content {
              margin-bottom: 2em;
            }
          }
        }
      }
    }
  }
}
.front,
.page-home {
  .region-inner {
    padding: .5em
  }    
  h2.block-title,
  h2.pane-title {
    padding: 0 .6em 0.1em 1em;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 1.3em;
    font-weight: normal;
    min-width: 8em;
    margin-bottom: .3em;
  }
  // Intro text
  .region-three-brick-top {
    .pane-block {
      margin-bottom: 0;
    }
  }
  // Facets
  .facet  {
    &.block {
      margin-bottom: 1em;
    }
    h2.block-title {
      background-color: $grey;
      color: white;
    }
    ul li {
      list-style: none;
      margin: 0 0 .2em 0;
    }
  }
  // International call-outs
  .region-three-brick-right-above {
    h2.pane-title {
      background-color: $light-grey;
      color: black;
    }
    .date {
      display: inline;
    }
  }
  // National call-outs
  .region-three-brick-left-below {
    h2.pane-title {
      background-color: $light-grey;
      color: black;
    }
    h2.country {
      background-color: $lightest-grey;
      font-family: $serif-small;
      padding: 0 .6em 0.1em .6em;
      -moz-border-radius: 15px;
      border-radius: 15px;
    }
  }    
  // Squat.net feed
  .region-three-brick-right-below {
    h2.block-title {
      background-color: $light-grey;
      color: white;
    }
    ul {
      margin-top: 15px;
      li {
  padding-bottom: .5em;
      }
    }  
  }
  @media only screen and (min-width: 768px) {
    .three-brick {
      .row-1,
      .row-2 {
        .region-three-brick-top,
        .region-three-brick-right-above,
        .region-three-brick-left-below,
        .region-three-brick-right-below {
          width: 50%;
        }
        .region-three-brick-left-above,
        .region-three-brick-center-above {
          width: 25%;
        }
      }
    }       
  }
}



// Translation links pane
.translation-links {
  text-align: right;
  margin-bottom: 0;
  height: 2em;
  .block-title {
    display: none;
  }
}

.pane-radar-event-panel-pane-2 {
  h3.date {
    margin: 0 0 1em 0;
  }
}

/* Maps */
.openlayers-popup {
  .olPopup img {
    opacity: .6;
  }
  a {
    color: white;
  }

}


/* Common classes */
.group,
.listings-group {
  font-family: $group-font;
}

/* Captcha */
fieldset.captcha {
  min-width: 30em;
}

pre.ascii_art_captcha {
  font-size: 0.7rem;
}

/* User page */

.view-display-id-user_active_groups {
  ul {
    margin-left: 2em;
  }
  .group-event-links {
    display: none;
  } 
  .group-event-links:target {
    display: block; 
  }
}

/* Group events admin view */
.view-requests .view-header .item-list {
  @media only screen and (min-width: 580px) {
    margin-top: -3em;
  }
  text-align: right;
}

.view-requests .view-header .radar-og-create-links {
  list-style-type: none;
}
